<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- Permessi Android Auto -->
    <uses-feature
        android:name="android.hardware.type.automotive"
        android:required="false" />
    
    <application>
        <!-- Servizio Android Auto -->
        <service
            android:name=".AndroidAutoService"
            android:exported="true"
            android:label="AndroidAutoCapacitorPlugin">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
                <category android:name="androidx.car.app.category.NAVIGATION"/>
            </intent-filter>
        </service>
        
        <!-- Metadati Android Auto -->
        <meta-data
            android:name="androidx.car.app.minCarApiLevel"
            android:value="1" />
        <meta-data
            android:name="androidx.car.app"
            android:resource="@xml/automotive_app_desc" />
    </application>
</manifest>
